@tailwind components;

@layer components {
  /* Carousel Container Styles */
  .carousel-overlay {
    @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-80 flex justify-center items-center z-50;
    transition: transform 0.3s ease-in-out;
  }

  .carousel-container {
    @apply bg-gray-900 text-white p-6 rounded-xl relative w-full max-w-6xl;
  }

  .carousel-card {
    @apply flex justify-start items-start text-left py-4 relative;
  }

  .carousel-card-image {
    @apply ml-12 m-4 w-[90%] h-[84%] object-cover rounded-lg relative transition-transform duration-300 ease-out;
    transform: scale(0.95);
  }

  .carousel-card-content {
    @apply w-full ml-36 py-6 text-white text-left;
  }

  .carousel-navigation {
    @apply absolute top-1/2 transform -translate-y-1/2 flex justify-between w-full px-4;
  }

  .arrow-button {
    @apply bg-gray-700 hover:bg-gray-600 text-white p-3 rounded-full;
  }

  .carousel-close-button {
    @apply absolute top-4 right-4 text-white font-bold text-sm bg-gray-600 p-2 rounded-xl;
  }

  .carousel-overlay:hover .carousel-container {
    transform: scale(1);
  }
}
