@tailwind base;

@layer base {
  /* App Root Layout */
  .app-main-layout {
    @apply bg-gray-950 text-white antialiased min-h-screen flex flex-col items-center justify-center py-5;
    width: 98vw;
    max-width: 100vw;
    margin: 0 auto;
  }

  /* Smooth Scrolling */
  html {
    scroll-behavior: smooth;
  }

   /* App Secondary Layout */
  .layout-container {
    @apply min-h-screen w-full flex flex-col items-center justify-center  bg-gradient-to-b from-gray-600 to-gray-900;
  }

  .layout-header {
    @apply w-full flex justify-between items-center p-4  bg-gradient-to-b from-gray-900 to-gray-600;
  }

  .layout-header-item {
    @apply rounded-full border border-gray-800 gap-4 px-4 py-2 text-white text-lg font-serif font-bold;
  }
  .layout-header-item:hover {
    @apply bg-gray-800 border-gray-600 border-x-2;
  }

  .layout-content {
    @apply flex-1 w-full max-w-7xl p-6 bg-white text-black;
  }

  .layout-footer {
    @apply w-full  bg-gradient-to-b from-gray-900 to-gray-700 text-white text-center p-4 text-sm italic;
  }
}
